DJANGO_ENV='development' # (development|production|staging)

SECRET_KEY=example_secret_key

SERVER_HOST=0.0.0.0
SERVER_PORT=8000

POSTGRES_DB=example_db
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql://example_user:example_pass@postgres:5432/example_db

REDIS_HOST=redis
REDIS_PORT=6379

GF_SECURITY_ADMIN_USER=gf_user
GF_SECURITY_ADMIN_PASSWORD=gf_pass
