# Files
staticfiles/
media/

#Environment
env/
.env*
venv/

# Database
*.sqlite3
db.sqlite3

# IDE
.vscode/
.idea/

# Theme
theme/

# Backups
backup.sql
*-bac

# Local
local*
logs*
*.pem
TODO

# Logs
*.log
