# Files
staticfiles/
media/

#Environment
env/
env.*
*.env

# Environment examples
!.env.example

# Docs
docs/*

# IDE
.vscode/
.idea/

# Theme
theme/

# Backups
backup.sql
*-bac

# Local
local
local.*
logs*
*.pem
TODO

# Logs
*.log

# Tests
.coverage

# Passwords
.htpasswd
.htpasswd.*

# Password examples
!.htpasswd.*.example

# Backend environment setup
!backend/config/settings/env.py
