{% extends "main.html" %}
{% load static %}

{% block head %}
<script src="{% static 'api/js/delete.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'api/css/delete.css' %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
{% endblock head %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">

    <div>
        {% include 'core/components/topics-component.html' %}
    </div>

    <div>
        <h5>{{ rooms_count }} room{{ rooms_count|pluralize }} available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
    
        <div>
            {% include 'core/components/feed-component.html' %}
        </div>

    </div>

    <div>
        {% include 'core/components/activity-component.html' %}
    </div>
    

</div>

{% endblock content %}
