{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/errors.css' %}">
    <title>Error</title>
</head>
<body>
    <div class="error-container">
        <div class="error-content">
            <h1 class="error-code">
                {% block code %}{% endblock code %}
            </h1>
            <p class="error-message">
                {% block content %}{% endblock content %}
            </p>
            <a href="/" class="home-link">Go Back to Homepage</a>
        </div>
    </div>
</body>
</html>
