{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/flash-messages.css' %}">
    <script src="{% static 'js/flash-messages.js' %}" defer></script>
    
    <title>EduSphere</title>
    
    {% block head %}{% endblock head %}
</head>

<body>
    {% include "components/navbar.html" %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            <span>{{ message }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    
    {% endblock content %}

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
